<!-- Progress Bar -->
<div class="container container-sm container-md container-lg container-xl">
  <app-progress-bar></app-progress-bar>
</div>

<div class="container" data-aos="zoom-in">
  <!-- Heading -->
  <div class="text-center">
    <h2>Generated <span class="pink">campaign details</span></h2>
  </div>

  <div class="card-deck mt-5">

    <!-- Generated campaign details -->
    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded" id="campaign-details">
      <div class="card-body mb-4">
        <h4>Plan</h4>
        <p class="card-text"></p>
        <h4>Method</h4>
        <p class="card-text"></p>

        <!-- Next Button -->
        <button (click)="navigateToPayment()" class="btn shadow-sm p-2 pl-3 pr-3 hvr-wobble-horizontal">Next</button>
      </div>
    </div>
  </div>
</div>
