.container {
  padding-top: 5%;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

.pink {
  color: #E06F63;
}

h4 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}

button {
  float: right;
  border-radius: 30px;
  background-color: #E06F63;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

button:hover {
  color: #ffffff;
}
