<div class="container">
  <div class="row justify-content-md-center">

    <div class="align-middle col col-md-1 icon">
      <img class="img-fluid proPicture" src="../../assets/images/profile/username.png">
    </div>

    <div class="align-middle col col-md-2 name">
      <h3 (click)="navigateToProfile()">FIRST NAME</h3>
      <h4 (click)="navigateToProfile()">SURNAME</h4>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col animated fadeIn left">
      <p class="black">
        Your<br>
      </p>
      <p class="pink">campaign<br>details</p>
    </div>

    <div class="col animated fadeIn details">

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Product Name :</h5>
        </div>
        <div class="col">
          <p>Apple TV</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Price of Product / Service :</h5>
        </div>
        <div class="col">
          <p>$100000</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Target Audience :</h5>
        </div>
        <div class="col">
          <p>High end customers</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Target Industry :</h5>
        </div>
        <div class="col">
          <p>Tech industry</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Target Location :</h5>
        </div>
        <div class="col">
          <p>USA</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Budget :</h5>
        </div>
        <div class="col">
          <p>$1000000</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Description :</h5>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col text-justify desc">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no
          one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.  There is no
          one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.  There is no
          one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
        </div>
      </div>

    </div>
  </div>
</div>
