.container {
  padding-top: 10%;
}

.name {
  padding: 1%;
  text-transform: uppercase;
}

.name h3 {
  font-weight: 700;
}

.pro-img {
  width: 100px;
  height: auto;
}

.heading-top {
  display: none;
}

.heading-top p {
  font-size: 45px;
  font-weight: 600;
  line-height: 40px;
}

.left {
  margin-top: 12%;
}

.text {
  font-weight: bold;
  font-size: 82px;
  line-height: 107px;
}

.pink {
  color: #E06F63;
}

.details {
  margin-top: 5%;
}

.details h5, .details p {
  line-height: 40px;
}

.name h3:hover, .name h4:hover {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .left p {
    font-size: 70px;
    line-height: 95px;
  }

  .details h5 {
    font-size: 17px;
  }

  .details p, .details .desc {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .left {
    display: none;
  }

  .heading-top {
    display: block;
  }
}

@media (max-width: 767px) {
  .name h3 {
    font-size: 20px;
  }

  .name h4 {
    font-size: 17px;
  }
}

@media (max-width: 513px) {
  .name h3 {
    font-size: 19px;
  }
}
