<div class="container">
  <div class="row justify-content-center mt-5">

    <div class="col-2">
      <img class="img-fluid pro-img" src="../../assets/images/profile/username.png" alt="profile image">
    </div>

    <div class="col-3 name">
      <h3 (click)="navigateToProfile()">First name</h3>
      <h4 (click)="navigateToProfile()">Surname</h4>
    </div>
  </div>

  <div class="row mt-5 heading-top" data-aos="zoom-out">
    <div class="col">
      <p>
        Your <span class="pink">campaign details</span>
      </p>
    </div>
  </div>

  <div class="row justify-content-md-center" data-aos="zoom-out">
    <div class="col left">
      <p class="text">Your</p>
      <p class="text pink">campaign</p>
      <p class="text pink">details</p>
    </div>

    <div class="col details">

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Product Name :</h5>
        </div>
        <div class="col">
          <p>Apple TV</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Price of Product / Service :</h5>
        </div>
        <div class="col">
          <p>$100000</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Target Audience :</h5>
        </div>
        <div class="col">
          <p>High end customers</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Target Industry :</h5>
        </div>
        <div class="col">
          <p>Tech industry</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Target Location :</h5>
        </div>
        <div class="col">
          <p>USA</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Budget :</h5>
        </div>
        <div class="col">
          <p>$1000000</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col">
          <h5>Description :</h5>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col text-justify desc">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no
          one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.  There is no
          one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.  There is no
          one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
        </div>
      </div>

    </div>
  </div>
</div>
