<div class="container container-sm container-md container-lg container-xl">
  <!-- progress bar component loaded here -->
  <app-progress-bar></app-progress-bar>
</div>

<div class="container">

  <!-- Minimized heading -->
  <div class="row heading-top" data-aos="zoom-out">
    <div class="col">
      <p>
        Your <span class="pink">campaign details</span>
      </p>
    </div>
  </div>

  <div class="row justify-content-md-center" data-aos="zoom-out">
    <!-- Heading Left -->
    <div class="col mt-5 left">
      <p class="text">Your</p>
      <p class="text pink">campaign</p>
      <p class="text pink">details</p>
    </div>

    <!-- Campaign Details -->
    <div class="col">
      <app-campaign-details-description></app-campaign-details-description>
    </div>
  </div>
</div>
