//Progress bar
.progressDiv{
  padding-top: 12%;
}


.outer{
  background-color: #f9f9f9;
  height: 35px;
  box-shadow: 0 0 5px 0 #c2c0c0;
  width: 80%;
  margin: auto auto;
  border-radius: 9px;
}

.inner1, .inner2, .inner3, .inner4{
  font-family: "Airbnb Cereal App Light", sans-serif;
  font-size: 17px;
  color: #cecccc;
  width: 25%;
  background-color: #f9f9f9;

}

.try{
  font-family: "Airbnb Cereal App Light", sans-serif;
  font-size: 17px;
  color: white;
  margin-left: 4px;
  margin-top: 4px;
  height: 28px;
  width: 25%;
  background-color: #E06F63;
  border-radius: 9px;
}
