<div class="fixme">
  <div class="row">
    <div class="col description1" id="description1" data-aos="fade-right">
      <h2 class="enter_heading">Enter Details</h2>
      <p class="enter_details">eesse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col">
      <div class="row" >
        <div class="col-md=auto opaque1">
          <img src="../../assets/how_it_works_icons/enter_details.svg" class="img-fluid image1" data-aos="fade-left">
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col description2" id="description2" data-aos="fade-right">
      <h2 class="campaign_heading">Select Campaign</h2>
      <p class="campaign_details">esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.esse cillum dolore eu fugiat nulla pariatur.</p>
      <h2 class="heading" data-aos="fade-right">How it works</h2>
    </div>
    <div class="col">
      <div class="row" >
        <div class="col">

        </div>
        <div class="col-md-auto opaque2">
          <img src="../../assets/how_it_works_icons/select_campaign.svg" class="img-fluid image2" data-aos="fade-left">
        </div>
      </div>
    </div>
  </div>
  <div class="row" >

    <div class="col description3" id="description3" data-aos="fade-right">
      <h2 class="payment_heading">Select Payment Method</h2>
      <p class="payment_details">esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col">
      <div class="row" >
        <div class="col-md-auto opaque3">
          <img src="../../assets/how_it_works_icons/select_payment.svg" class="img-fluid image3" data-aos="fade-left">
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>

  <div class="row" >
    <div class="col description4" id="description4" data-aos="fade-right">
      <h2 class="launch_heading">Launch Campaign</h2>
      <p class="launch_details">esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col-md-auto opaque4">
      <img src="../../assets/how_it_works_icons/launch_campaign.svg" class="img-fluid image4" data-aos="fade-left">
    </div>
  </div>
</div>
