
<div class="container container-sm container-md container-lg container-xl">
  <app-progress-bar></app-progress-bar>
</div>

<div class="container select-campaign">
  <div class="card-deck">
    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">1</h4>
      </div>
    </div>

    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">2</h4>
      </div>
    </div>

    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">3</h4>
      </div>
    </div>
  </div>

  <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
    <div class="card-header bg-light border-light">
      <h5>Campaign #</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Campaign details should appear here.</p>
      <button (click)="navigateToPayment()" class="btn">NEXT</button>
    </div>
  </div>
</div>

<!--<app-footer></app-footer>-->
