.select-campaign {
  padding-top: 5%;
}

h3 {
  font-size: 30px;
}

.number {
  color: #7f8c8d;
  font-size: 24px;
}

.campaign {
  cursor: pointer;
}

#campaign-details {
  display: none;
}

button {
  text-transform: uppercase;
}

@media (max-width: 991px) {
  h3 {
    font-size: 24px;
  }

  .number {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: 16px;
  }

  .number {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 30px;
  }

  .number {
    font-size: 24px;
  }
}

.btn {
  float: right;
  background-color: #E06F63;
  color: #ffffff;
}
