<!--How it works-->

<!--Layout 1 for big screens-->
<div class="fixme container-fluid" id="fixme">

  <!-- Enter details explanation -->
  <div class="row">
    <div class="col description1" id="description1" data-aos="fade-right">
      <h2 class="enter_heading">Enter Details</h2>
      <p class="enter_details">Begin your campaign with our simple interface!<br>
        Our one-page details form asks you a few simple, but essential questions about your desired campaign. </p>
    </div>
    <div class="col">
      <div class="row" >
        <!--Image for details-->
        <div class="col-md=auto opaque1">
          <img src="../../../assets/images/how_it_works_icons/enter_details.svg" class="img-fluid image1" data-aos="fade-left">
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>

  <!-- Select campaign explanation -->
  <div class="row">
    <div class="col description2" id="description2" data-aos="fade-right">
      <h2 class="campaign_heading">Review the Campaign</h2>
      <p class="campaign_details">
        Review the recommended campaigns to select the most engaging option to reach your target audience through social
        media, print media, and press.</p>
      <h2 class="heading" data-aos="fade-right">How it works</h2>
    </div>
    <div class="col">
      <div class="row" >
        <div class="col"></div>
        <!--Image for campaign-->
        <div class="col-md-auto opaque2">
          <img src="../../../assets/images/how_it_works_icons/select_campaign.svg" class="img-fluid image2" data-aos="fade-left">
        </div>
      </div>
    </div>
  </div>

  <!-- Select payment method explanation -->
  <div class="row" >
    <div class="col description3" id="description3" data-aos="fade-right">
      <h2 class="payment_heading">Select Payment Method</h2>
      <p class="payment_details">Enter your payment details to proceed.<br>
        We accept VISA, MasterCard and Paypal. All payments are securely handled by Stripe and
        we do not store your card details.</p>
    </div>
    <div class="col">
      <div class="row">
        <!--Image for payment-->
        <div class="col-md-auto opaque3">
          <img src="../../../assets/images/how_it_works_icons/select_payment.svg" class="img-fluid image3" data-aos="fade-left">
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>

  <!-- Launch explanation -->
  <div class="row" >
    <div class="col description4" id="description4" data-aos="fade-right">
      <h2 class="launch_heading">Launch</h2>
      <p class="launch_details">Reaching your customers is just one click away.<br>It's that simple!</p>
    </div>
    <!--Image for launch-->
    <div class="col-md-auto opaque4">
      <img src="../../../assets/images/how_it_works_icons/launch_campaign.svg" class="img-fluid image4" data-aos="fade-left">
    </div>
  </div>
  <strong class="sign-in-to-continue"><a class="hvr-wobble-horizontal" routerLink="/client-sign-up">Sign in to continue...</a></strong>
</div>



<!--Layout 2 for screens after 1200px-->
<div class="how-it-works container container-sm container-md container-lg container-xl">
  <div class="col">
    <h2 class="heading-2" data-aos="fade-up">How it works</h2>
  </div>

  <!-- Enter details explanation -->
  <div class="row step1">
    <div class="col description1-2" data-aos="fade-right">
      <h2 class="enter_heading-2">Enter Details</h2>
      <p class="enter-2">Begin your campaign with our simple interface!<br>
        Our one-page details form asks you a few simple, but essential questions about your desired campaign. </p>
    </div>
    <!--Image for details-->
    <div class="col-md-auto">
      <img src="../../../assets/images/how_it_works_icons/enter_details.svg" class="img-fluid" data-aos="fade-left">
    </div>
  </div>

  <!-- Select campaign explanation -->
  <div class="row step2">
    <div class="col description2-2" data-aos="fade-right">
      <h2 class="enter_heading-2">Review Campaign</h2>
      <p class="campaign-2">Review the recommended campaigns to select the most engaging option to reach your target audience through social
        media, print media, and press.</p>
    </div>
    <!--Image for campaign-->
    <div class="col-auto">
      <img src="../../../assets/images/how_it_works_icons/select_campaign.svg" class="img-fluid" data-aos="fade-left">
    </div>
  </div>

  <!-- Select payment method explanation -->
  <div class="row step3">
    <div class="col description3-2" data-aos="fade-right">
      <h2 class="enter_heading-2">Select Payment</h2>
      <p class="payment-2">Enter your payment details to proceed.<br>
        We accept VISA, MasterCard and Paypal. All payments are securely handled by Stripe and
        we do not store your card details.</p>
    </div>
    <!--Image for payment-->
    <div class="col-auto">
      <img src="../../../assets/images/how_it_works_icons/select_payment.svg" class="img-fluid" data-aos="fade-left">
    </div>
  </div>

  <!-- Launch explanation -->
  <div class="row step4">
    <div class="col description4-2" data-aos="fade-right">
      <h2 class="enter_heading-2">Launch</h2>
      <p class="launch-2">Reaching your customers is just one click away.<br>It's that simple!</p>
    </div>
    <!--Image for launch-->
    <div class="col-auto">
      <img src="../../../assets/images/how_it_works_icons/launch_campaign.svg" class="img-fluid" data-aos="fade-left">
    </div>
  </div>

  <strong class="sign-in-to-continue"><a class="hvr-wobble-horizontal" routerLink="/client-sign-up">Sign in to continue</a></strong>

</div>
