<!--Client Log in-->
<div class="client-account container container-sm container-md container-lg container-xl">
  <div class="row">

    <div class="col-7 client1"  data-aos="fade-right">
      <img style="width: 400px" src="../../../assets/images/signup/signup.svg"><br>
      <h3>Don't have an account?</h3>
      <p>Enter your details and start your journey with us</p>
<!--     button to switch to sign up page    -->
      <button routerLink="/client-sign-up" type="submit" class="btn button-switch">Sign up</button>
    </div>

    <div class="col-auto client2" data-aos="fade-left">
      <div class="client-logo">
        <h3>Log in to <span class="pink">Jansss</span></h3>
<!--    Icons for logging through facebook/google/linkedin    -->
        <button (click)="signInWithFB()" *ngIf="loggedIn===false"><img class="facebook" src="../../../assets/images/signup/facebook.svg"></button>
        <button (click)="openDialog()"><img class="google" src="../../../assets/images/signup/google1.svg"></button>
        <button (click)="openDialog()"><img class="linkedin" src="../../../assets/images/signup/linkedin.svg"></button>
        <p>or use your email account:</p>
      </div>
      <form [formGroup]="frmLogIn" (submit)="login()" class="client-item">
        <div class="row form-group client-item client-email">
          <label [ngClass]="frmLogIn.controls['email']">
            <mat-form-field style="width:170%;">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" [errorStateMatcher]="matcher" required placeholder="Ex. john.smith@gmail.com">
              <!--      Display error message if email is not valid     -->
              <mat-error *ngIf="frmLogIn.controls['email'].hasError('email')">
                Please enter a valid email address
              </mat-error>
              <!--      Display error message if email is not filled     -->
              <mat-error *ngIf="frmLogIn.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </label>
        </div>
        <!--  Client password  -->
        <div class="row form-group client-item client-pass">
          <label [ngClass]="frmLogIn.controls['password']">
            <mat-form-field style="width:152%;">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
              <span class="hide-icon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
              <!--      Display error message if field not filled     -->
              <mat-error *ngIf="frmLogIn.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </label>
        </div>
        <!--   Sending log in details to backend-->
        <div class="col buttons-client">
          <div class="btn-out-client form-group">
            <button type="submit" class="btn button-client">Log in</button>
          </div>
          <!--   Terms and conditions  -->
          <p class="terms">By continuing you agree to .Jansss <a>Terms or Service, Privacy Policy</a></p>
        </div>
      </form>
    </div>

<!--    Layout change for responsiveness-->
    <div class="col-auto client4" data-aos="fade-down">
      <div class="client-logo">
        <h3> Log in to <span class="pink">Jansss</span></h3>
<!--    Icons for logging through facebook/google/linkedin    -->
        <button (click)="signInWithFB()" *ngIf="loggedIn===false"><img class="facebook" src="../../../assets/images/signup/facebook.svg"></button>
        <button (click)="openDialog()"><img class="google" src="../../../assets/images/signup/google1.svg"></button>
        <button (click)="openDialog()" ><img class="linkedin" src="../../../assets/images/signup/linkedin.svg"></button>

        <p>or use your email account:</p>
      </div>
      <form [formGroup]="frmLogIn" (submit)="login()" class="client-item">
        <div class="row form-group client-item client-email">
          <label [ngClass]="frmLogIn.controls['email']">
            <mat-form-field style="width:170%;">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. john.smith@gmail.com">
<!--      Display error message if email is not valid     -->
              <mat-error *ngIf="frmLogIn.controls['email'].hasError('email')">
                Please enter a valid email address
              </mat-error>
<!--      Display error message if email is not filled     -->
              <mat-error *ngIf="frmLogIn.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </label>
        </div>
<!--  Client password  -->
        <div class="row form-group client-item client-pass">
          <label [ngClass]="frmLogIn.controls['password']">
            <mat-form-field style="width:170%;">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
              <span class="hide-icon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
<!--      Display error message if field not filled     -->
              <mat-error *ngIf="frmLogIn.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </label>
        </div>
<!--   Sending log in details to backend-->
        <div class="col buttons-client">
          <div class="btn-out-client form-group">
            <button type="submit" class="btn button-client">Log in</button>
          </div>
<!--   Terms and conditions  -->
          <p class="terms">By continuing you agree to .Jansss <a>Terms or Service, Privacy Policy</a></p>
        </div>
      </form>
    </div>

    <div class="col client3" data-aos="fade-up">
      <img style="width: 400px" src="../../../assets/images/signup/signup.svg"><br>
      <h3>Don't have an account?</h3>
      <p>Enter your details and start your journey with us</p>
<!--     button to switch to sign up page    -->
      <button routerLink="/client-sign-up" type="submit" class="btn button-switch">Sign up</button>
    </div>
  </div>
</div>
