.container {
  padding-top: 8%;
}

.top {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.name {
  padding: 1%;
}

.name h3 {
  font-weight: bolder;
}

.icon {
  padding: 1%;
}

.proPicture {
  width: 100%;
  height: auto;
}

.icon p {
  color: #7f8c8d;
  margin-top: 5%;
}

.change:hover {
  cursor: pointer;
}
