<div class="container">
  <h4 class="top">Edit Profile</h4>

  <div class="row justify-content-md-center">

    <div class="align-middle col col-md-1 icon">
      <img class="img-fluid proPicture" src="../../assets/images/profile/username.png">
      <p class="text-center change">Change</p>
    </div>

    <div class="align-middle col col-md-2 name">
      <h3>First name</h3>
      <h4>Surname</h4>
    </div>

    <div class="mt-5 form box">
      <form id="app-cover"
            [formGroup] = "form"
            (ngSubmit) = "onSubmit(form.value)">

        <div class="row">

          <div class="col mr-5">
            <div class="inputBox">
              <input type="text" name="fName" id="fName" formControlName="fName" required="">
              <label for="fName">First Name</label>
            </div>
          </div>

          <div class="col">
            <div class="inputBox">
              <input type="text" name="sName" id="sName" formControlName="sName" required="">
              <label for="sName">Surname</label>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col mr-5">
            <div class="category">
              <span id="selectedPlan">Payment Plan</span>
              <img class="float-right hvr-wobble-vertical arrow-down" src="../../assets/images/icons/down.svg" (click)="viewOption('plan')">
            </div>
            <div class="mt-2 line"></div>
            <div class="options" id="plan">
              <div class="p-2 border-bottom planOption" (click)="getOption('plan', 'planOption', 'selectedPlan', 0)">Member</div>
              <div class="p-2 planOption" (click)="getOption('plan', 'planOption', 'selectedPlan', 1)">One-time</div>
            </div>
          </div>
          <div class="col"></div>
        </div>

        <div class="row mt-5">
          <div class="col mr-5">
            <div class="category">
              <span id="selectedMethod">Payment Method</span>
              <img class="float-right hvr-wobble-vertical arrow-down" src="../../assets/images/icons/down.svg" (click)="viewOption('method')">
            </div>
            <div class="mt-2 line"></div>
            <div class="options" id="method">
              <div class="p-2 border-bottom methodOption" (click)="getOption('method', 'methodOption', 'selectedMethod', 0)">Master</div>
              <div class="p-2 border-bottom methodOption" (click)="getOption('method', 'methodOption', 'selectedMethod', 1)">Visa</div>
              <div class="p-2 methodOption" (click)="getOption('method', 'methodOption', 'selectedMethod', 2)">PayPal</div>
            </div>
          </div>
          <div class="col"></div>
        </div>

        <div class="row mt-5">
          <div class="col mr-5"></div>
          <div class="col">
            <input class="btn shadow-sm p-2 rounded ml-5 hvr-grow" type="submit">
            <input class="btn shadow-sm p-2 rounded float-right hvr-grow" type="reset" value="Cancel" (click)="clearOption()">
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

