.container {
  padding-top: 8%;
}

.top {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.name {
  padding: 1%;
}

.name h3 {
  font-weight: bolder;
  text-transform: uppercase;
}

.name h4 {
  text-transform: uppercase;
}

.icon {
  padding: 1%;
}

.proPicture {
  width: 100%;
  height: auto;
}

.icon p {
  color: #7f8c8d;
  margin-top: 5%;
}

.change:hover {
  cursor: pointer;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
}

.box .inputBox input:focus ~ label, .box .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #7f8c8d;
  font-size: 12px;
}

.box input[type=submit] {
  background-color: #E06F63;
  color: #ffffff;
}

.box input[type=reset] {
  background-color: #dcdde1;
  color: #000000;
}

.box .btn {
  text-transform: uppercase;
}

.line {
  height: 1px;
  background: black;
}

.arrow-down {
  width: 15px;
  height: auto;
  margin-left: 175px;
  cursor: pointer;
}

.options {
  display: none;
  background: #f5f6fa;
}

.planOption, .methodOption {
  cursor: pointer;
}

.planOption:hover, .methodOption:hover {
  background: #E06F63;
  color: #ffffff;
}
