<div class="container">
  <div class="row justify-content-md-center">

    <div class="align-middle col col-md-1 icon">
      <img class="img-fluid proPicture" src="../../assets/images/profile/username.png">
    </div>

    <div class="align-middle col col-md-2 name">
      <h3>First name</h3>
      <h4>Surname</h4>
    </div>
  </div>

  <h4 class="campaign">Current campaigns</h4>

    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded current animated fadeInUp">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">1</h4>
      </div>
    </div>

  <h4 class="campaign">Previous Campaigns</h4>

  <div class="card-deck animated fadeInUp">
    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">1</h4>
      </div>
    </div>

    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">2</h4>
      </div>
    </div>

    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">3</h4>
      </div>
    </div>
  </div>

  <div>
    <img (click)="navigateToEditProfile()" class="img-fluid settings float-right" src="../../assets/images/icons/settings.svg">
  </div>

</div>
