.container {
  padding-top: 10%;
}

.name {
  padding: 1%;
  text-transform: uppercase;
}

.name h3 {
  font-weight: 700;
}

.pro-img {
  width: 100px;
  height: auto;
}

.current {
  width: 22rem;
  cursor: pointer;
}

.number {
  color: #7f8c8d;
}

.campaign {
  font-weight: lighter;
  margin-top: 7%;
}

.settings {
  width: 3%;
  height: auto;
  cursor: pointer;
}

@media (max-width: 991px) {
  .card h3 {
    font-size: 24px;
  }

  .number {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .name h3 {
    font-size: 20px;
  }

  .name h4 {
    font-size: 17px;
  }

  .card h3 {
    font-size: 16px;
  }

  .number {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .card h3 {
    font-size: 30px;
  }

  .number {
    font-size: 24px;
  }

  .settings {
    width: 100px;
  }
}

@media (max-width: 513px) {
  .name h3 {
    font-size: 19px;
  }
}
