<div class="container">
  <div class="row justify-content-center mt-5">

    <div class="col-2">
      <img class="img-fluid pro-img" src="../../assets/images/profile/username.png" alt="profile image">
    </div>

    <div class="col-3 name">
      <h3>First name</h3>
      <h4>Surname</h4>
    </div>
  </div>

  <h4 class="campaign">Current campaigns</h4>

    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded animated fadeInUp current">
      <div class="card-body" (click)="navigateToCampaignProgress()">
        <h3>Campaign</h3>
        <h4 class="number">1</h4>
      </div>
    </div>

  <h4 class="campaign">Previous Campaigns</h4>

  <div class="card-deck animated fadeInUp">
    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">1</h4>
      </div>
    </div>

    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">2</h4>
      </div>
    </div>

    <div class="card bg-light border-light shadow-sm p-3 mb-5 rounded">
      <div class="card-body">
        <h3>Campaign</h3>
        <h4 class="number">3</h4>
      </div>
    </div>
  </div>

  <div>
    <img (click)="navigateToEditProfile()" class="img-fluid float-right hvr-bounce-out settings" src="../../assets/images/icons/settings.svg">
  </div>

</div>
