<div class="pricing container">
  <div class="card-deck pricing-options">
<!--    <div class="col"></div>-->
    <div class="card subscription">
      <div class="row heading">
        <p>One-time<br>Subscription</p>
      </div>
      <div class="row subscription-item description">
        esse cillum dolore eu fugiat<br>
        esse cillum dolore eu fugiat<br>
        esse cillum dolore eu fugiat<br>

      </div>
      <div class="col buttons">
        <div class="btn-out-subscribe">
          <button type="button" class="btn button-subscribe">Subscribe</button>
        </div>
      </div>
    </div>

<!--    <div class="card">-->
<!--    </div>-->

    <div class="card subscription">
      <div class="row heading">
        <p>Premium<br>Subscription</p>
      </div>
      <div class="row subscription-item description">
        esse cillum dolore eu fugiat<br>
        esse cillum dolore eu fugiat<br>
        esse cillum dolore eu fugiat<br>
      </div>
      <div class="col buttons">
        <div class="btn-out-subscribe">
          <button type="button" class="btn button-subscribe">Subscribe</button>
        </div>
      </div>
    </div>
<!--    <div class="col"></div>-->
  </div>
</div>
