.pricing{
  padding-top: 10%;
}

.pricing .pricing-options{
  width: 80%;
  margin: auto auto;

}
.pricing div{
  text-align: center;
}

div .subscription .heading p{
  width: 100%;
  margin: auto auto;
  text-align: center;
  padding-bottom: 10%;
  font-size: 30px;
}

.description{
  font-family: "Airbnb Cereal App Light", sans-serif;
  margin: auto auto;
  padding: 10%;
  border-top:1px solid #E06F63;
  border-bottom: 1px solid #E06F63;
  line-height: 175%;
}

.description p{
  line-height: 2px;
}


.subscription{
  text-align: center;
  background-color: #FBFBFB;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #c2c0c0;
  padding: 5% 4%;
  font-family: "Airbnb Cereal App Medium", sans-serif;
}

.subscription-item{
  margin: auto auto;
}

.btn-out-subscribe{
  padding-top: 20%;
}

.button-subscribe{
  font-family: "Airbnb Cereal App Book", sans-serif;
  border-radius: 10px;
  color: white;
  padding: 5% 6%;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #E06F63;
  box-shadow: 0 2px 5px 0 #c2c0c0;
}


@media screen and (max-width: 768px) {
  .pricing{
    padding-top: 20%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .pricing{
    padding-top: 50%;
  }
}


/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .pricing{
    padding-top: 15%;
  }
}

@media (max-width:599px) and (min-width:0px) {
  .pricing{
    padding-top: 20%;
  }
}
