<div class="pricing">
  <div class="row">
    <div class="col"></div>
    <div class="col-auto subscription">
      <div class="row heading">
        One-time<br>Subscription
      </div>
      <div class="row subscription-item description">
        esse cillum dolore eu fugiat<br>
        esse cillum dolore eu fugiat<br>
        esse cillum dolore eu fugiat<br>

      </div>
      <div class="col buttons">
        <div class="btn-out-subscribe">
          <button type="button" class="btn button-subscribe">Subscribe</button>
        </div>
      </div>
    </div>

    <div class="col"></div>

    <div class="col-auto subscription">
      <div class="row heading">
        Premium<br>Subscription
      </div>
      <div class="row subscription-item description">
        esse cillum dolore eu fugiat<br>
        esse cillum dolore eu fugiat<br>
        esse cillum dolore eu fugiat<br>
      </div>
      <div class="col buttons">
        <div class="btn-out-subscribe">
          <button type="button" class="btn button-subscribe">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
