.client-sign-up{
  padding-top: 10%;
  //height: 500px;
}

.client{
  width: 30%;
  font-family: "Airbnb Cereal App Medium", sans-serif;
}

.client-logo img{
  height: 100px;
}

.client-logo{
  width: 20%;
  margin: auto auto;
}

.client-item{
  margin: auto auto;
}

.client-item input{
  padding-top: 3%;
  font-family: "Airbnb Cereal App Light", sans-serif;
  width:200%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.client-email{
  padding-top: 10%;
}

.client-pass{
  padding-top: 5%;
}
