<!--Client Sign up-->
<div class="client-sign-up container container-sm container-md container-lg container-xl">
  <div class="row">
    <div class="col"></div>
    <div  class="col-auto client">
      <div class="row client-logo">
        <img src="../../assets/images/logo/logo_J.png"><br>
      </div>
      <!--Client email-->
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row form-group client-item client-email" [ngClass]="{ 'has-error': invalidEmail() }">
        <label class="control-label">
          Email<br>
          <input placeholder="Email" class="form-control" type="text" formControlName="email">
          <p *ngIf="invalidEmail()" id="email_error" class="help-block">Invalid email address.</p>
        </label>
      </div>
      <!--Client password-->
      <div class="row form-group client-item client-pass"  [ngClass]="{ 'has-error': invalidPassword() }">
        <label class="control-label">
          Create a password<br>
          <input type="text" placeholder="Password" class="form-control" formControlName="password">
          <p *ngIf="invalidPassword()" id="password_error" class="help-block">Invalid password.</p>
        </label>
      </div>

      <div class="col buttons">
        <div class="btn-out-sign-up form-group">
          <button type="submit" class="btn button-sign-up">Sign up</button>
        </div>

        <p class="or">OR</p>

        <!--Client Sign up via google-->
        <div class="btn-out-google">
          <button type="button" class="btn button-google"><img src="../../assets/images/signup/google.svg" style="height: 40px; width:40px;padding-right: 4%">   Continue with Google</button>
        </div>

        <p class="terms">By continuing you agree to .Jansss <a>Terms or Service, Privacy Policy</a></p>
      </div>

      <!--Navigate to log in page if already a member-->
      <div class="row client-item already-member">
        Already a member?<a routerLink="/client-log-in"> Log in</a>
      </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
