<div class="body text-center mb-5">
  <!-- Logo -->
  <img class="img-fluid mt-5 animated fadeIn delay-1s slower" id="middle" src="../../../assets/images/logo/logo_J_white.png">

  <!-- Product description -->
  <div class="" id="right">
    <h1>Automated</h1>
    <h3>Marketing Consultant</h3>
    <p>
      The complexity is left behind the scenes – all you have to do is follow a few simple steps to generate a powerful
      marketing campaign for your product in minutes. Track your progress with transparent and insightful reporting.
    </p>
    <p>
      <strong><a class="hvr-wobble-horizontal" routerLink="/vendor-hub">Continue as vendor.</a></strong>
    </p>
  </div>

  <!-- Navigation arrow -->
  <div class="container text-center">
    <img class="hvr-wobble-vertical nav-arrow" src="../../../assets/images/icons/chevron-arrow-down.svg" (click)="scrollWin()">
  </div>
</div>
