<section>
  <!-- Logo - Middle -->
  <img class="img-fluid animated fadeIn delay-1s slower" id="middle" src="../../../assets/images/logo/logo_J_white.png">

  <div class="content" id="text">
    <!-- Product description -->
    <div class="animated fadeInRight">
      <h1>Automated</h1>
      <h3>Marketing Consultant</h3>
      <p>
        The complexity is left behind the scenes – all you have to do is follow a few simple steps to generate a powerful
        marketing campaign for your product in minutes. Track your progress with transparent and insightful reporting.
      </p>
      <p></p>
      <a class="hvr-wobble-horizontal" routerLink="/vendor-hub">or start your journey with us as a vendor</a>
    </div>
  </div>

  <!-- Logo - Right -->
  <div class="imgBx" id="image">
    <img src="../../../assets/images/logo/logo_J_white.png" class="animated fadeInLeft"
         data-aos="fade-up"
         data-aos-easing="linear">
  </div>
</section>
