.container {
  padding-top: 8%;
}

//Heading Styling
.heading-top p {
  font-size: 45px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.pink {
  color: #E06F63;
}

//Image Styling
.col-left img {
  width: 500px;
}

//Form Styling
.full-width {
  width: 100%;
}

//Button Styling
.btn {
  background: #E06F63;
  color: #ffffff;
  border-radius: 20px;
  font-weight: 500;
}

//Checkbox Styling
mat-checkbox, p {
  font-size: 12px;
  line-height: 25px;
}

mat-checkbox a {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
}

//Media Queries
@media (max-width: 991px) {
  .col-left {
    display: none;
  }
}
