<div class="container">

  <!-- Heading -->
  <div class="row mb-5 heading-top">
    <div class="col">
      <p>
        Feel free to
        <span class="pink">contact us</span>
      </p>
    </div>
  </div>

  <div class="row">

    <!-- Image -->
    <div class="col mt-5 col-left" data-aos="fade-right">
      <img class="img-fluid" src="../../../assets/images/contact-us/contactus.svg">
    </div>

    <!-- Contact Form -->
    <div class="col">
      <form data-aos="fade-left"
            [formGroup] = "form"
            (ngSubmit) = "onSubmit()">

        <!-- First Name -->
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label [ngClass]="form.controls['firstName']">First name</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error *ngIf="form.controls['firstName'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Surname -->
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Surname</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-4">

          <!-- Email -->
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label [ngClass]="form.controls['email']">Email</mat-label>
              <input matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. sam@mail.com">
              <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="form.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Phone -->
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label [ngClass]="form.controls['phone']">Telephone</mat-label>
              <span matPrefix>+94 &nbsp;</span>
              <input type="tel" matInput formControlName="phone" placeholder="123456789" required>
              <mat-error *ngIf="form.controls['phone'].hasError('required')">
                Phone number is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="form.controls['phone'].hasError('pattern')">
                Phone number is <strong>invalid</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Message -->
        <div class="row mt-4 box">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label [ngClass]="form.controls['message']">Message</mat-label>
              <textarea matInput formControlName="message" required></textarea>
              <mat-error *ngIf="form.controls['message'].hasError('required')">
                Please enter a message
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col">

            <!-- Privacy policy checkbox -->
            <mat-checkbox formControlName="accept" color="primary" required>
              I agree to the <a href="#">privacy policy</a>*
            </mat-checkbox>
            <p>*Required fields</p>
          </div>

          <!-- Submit Button -->
          <div class="col">
            <input class="btn shadow-sm p-2 pl-3 pr-3 float-right hvr-grow" type="submit" value="Send Request">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
