<div class="campaign-progress container container-sm container-md container-lg container-xl">

  <div class="col">
    <div class="row pro">
      <div class="col"></div>
      <div class="col">Progress</div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col progress-1">
        Vendor 1
        <p><img src="../../assets/images/progress/pending.svg"> Pending</p>
      </div>
      <div class="col progress-2">Vendor 2
        <p><img src="../../assets/images/progress/confirmed.svg"> Confirmed</p>
      </div>
      <div class="col progress-3">Vendor 3
        <p><img src="../../assets/images/progress/confirmed.svg"> Confirmed</p>
      </div>
    </div>

    <div class="row ins">
      <div class="col"></div>
      <div class="col">Insights</div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col insight-2">
        <div class="row">
          <div class="col">
            <p class="number">8</p><br>
            <p class="title">Profile visits</p>
          </div>
          <div class="col">
            <img src="../../assets/images/progress/graph_1.svg">
          </div>
        </div>
      </div>
      <div class="col insight-1">
        <div class="row">
          <div class="col">
            <p class="number">186</p><br>
            <p class="title">Reach</p>
          </div>
          <div class="col">
            <img src="../../assets/images/progress/graph_2.svg">
          </div>
        </div>
      </div>
      <div class="col insight-3">
        <div class="row">
          <div class="col">
            <p class="number">232</p><br>
            <p class="title">Impressions</p>
          </div>
          <div class="col">
            <img src="../../assets/images/progress/graph_3.svg">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
