.container {
  padding-top: 8%;
}

.logo {
  width: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.box .inputBox {
  position: relative;
}

.half {
  width: 45%;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #dfe6e9;
  outline: none;
  background: transparent;
}

.box .inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
  font-weight: 600;
}

#selected {
  font-size: 16px;
  font-weight: 600;
}

.box .inputBox input:focus ~ label, .box .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #7f8c8d;
  font-size: 12px;
}

.box .selectBox select {
  padding: 10px;
}

.box input[type=submit] {
  background-color: #E06F63;
  color: #ffffff;
}

.box .btn {
  text-transform: uppercase;
}

.line {
  height: 1px;
  background: #dfe6e9;
}

.arrow-down {
  width: 15px;
  height: auto;
  cursor: pointer;
}

.options {
  display: none;
  background: #f5f6fa;
}

.option {
  cursor: pointer;
}

.option:hover {
  background: #E06F63;
  color: #ffffff;
}

p {
  font-size: 12px;
}

p a {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
}
