<div class="sub-logo">
  <img src="../../../assets/images/logo/logo_J.png">
</div>

<h1 mat-dialog-title>To continue with this subscription please enter the following details:</h1>

<div mat-dialog-content class="subscribe-details">
    <!-- Form to get the payment details for subscription -->
  <form [formGroup] = "formSubscribe" (ngSubmit) = "onSubmit()">

      <!-- Subscription package -->
    <div>
      <label [ngClass]="formSubscribe.controls['subscription']">
        <mat-form-field class="full-width">
          <mat-label>Subscription package</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 formControlName="subscription"
                 [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of packageOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </label>
    </div>

      <!-- Card number -->
    <div >
      <label [ngClass]="formSubscribe.controls['cardNo']">
        <mat-form-field class="full-width">
          <mat-label>Card Number</mat-label>
            <input matInput formControlName="cardNo" [errorStateMatcher]="matcher" placeholder="Ex. 4242 4242 4242 4242" required>
          <mat-error *ngIf="formSubscribe.controls['cardNo'].hasError('required')">
            Card number is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="formSubscribe.controls['cardNo'].hasError('pattern')">
            Card number is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </label>
    </div>

    <!-- Expiry date -->
    <div>
      <label [ngClass]="formSubscribe.controls['exDate']" >
        <mat-form-field class="full-width">
          <mat-label>MM/YYYY</mat-label>
          <input matInput [min]="minDate" [matDatepicker]="dp" [errorStateMatcher]="matcher" formControlName="exDate" required>
          <mat-error *ngIf="formSubscribe.controls['exDate'].hasError('required')">
            Expiry date is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (yearSelected)="chosenYearHandler($event)"
                          (monthSelected)="chosenMonthHandler($event, dp)"
                          panelClass="month-picker">
          </mat-datepicker>
        </mat-form-field>
      </label>
    </div>

        <!-- CVV -->
    <div>
      <label  [ngClass]="formSubscribe.controls['cvv']">
        <mat-form-field class="full-width">
          <mat-label>CVV</mat-label>
          <input matInput formControlName="cvv" [errorStateMatcher]="matcher" placeholder="Ex. 123" required>
          <mat-error *ngIf="formSubscribe.controls['cvv'].hasError('required')">
            CVV is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="formSubscribe.controls['cvv'].hasError('pattern')">
            CVV is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </label>
    </div>

      <!-- Billing Address -->
    <div>
      <label [ngClass]="formSubscribe.controls['address']">
        <mat-form-field class="full-width">
          <mat-label>Billing Address</mat-label>
          <input matInput formControlName="address" [errorStateMatcher]="matcher" required>
          <mat-error *ngIf="formSubscribe.controls['address'].hasError('required')">
            Billing address is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </label>
    </div>

    <!-- Payment Method -->
    <div>
      <mat-radio-group formControlName="payMethod" color="primary" required>
          <!-- Visa card -->
          <mat-radio-button value="visa card" class="paymentMethod">
            <img src="../../../assets/images/payment/visa.png" alt="visa card">
          </mat-radio-button>

          <!-- Master card -->
          <mat-radio-button value="mastercard" class="paymentMethod">
            <img src="../../../assets/images/payment/mastercard.png" alt="mastercard">
          </mat-radio-button>

          <!-- PayPal -->
          <mat-radio-button class="paymentMethod1" value="paypal">
            <img src="../../../assets/images/payment/paypal.png" alt="paypal">
          </mat-radio-button>
      </mat-radio-group>
    </div>

      <div class="subscribe-buttons">
        <button class="uncolored" (click)="onNoClick()">No Thanks</button>
        <button class="colored" type="submit" [mat-dialog-close]="data">Submit</button>
      </div>
    </form>
  </div>

