<<<<<<< HEAD
nav {
  height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
}

.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}

nav {
  position: relative;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}

.nav-links {
  position: fixed;

  opacity: 0.95;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
}

.nav-links.open {
  clip-path: circle(2000px at 90% -10%);
  -webkit-clip-path: circle(2000px at 90% -10%);
  pointer-events: all;
=======
/* You can add global styles to this file, and also import other style files */
n@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js");
@import url("https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js");
//@import "~bootstrap/dist/css/bootstrap.css";


$primary: rgb(224, 88, 74);

body {
  margin: 0;
  font-family: 'Airbnb Cereal App Light';
  font-size: 50px;
}



.navbar {
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  //background: $primary;
  padding: 1em 0;
  font-family: 'Airbnb Cereal App Medium';
  font-size: 16px;

  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }

  .active{
    color: #E0584A;
  }


  //nav {
  //
  //  ul {
  //    list-style-type: none;
  //    //margin: 0;
  //    display: flex;
  //
  //    //  li a {
  //    //    //padding: 1em;
  //    //
  //    //    &:hover {
  //    //      color: darken($primary, 10%);
  //    //    }
  //    //}
  //  }
  //}
}

h1 {
  margin-top: 2em;
>>>>>>> 406c8398f772d6fc495976e5af62a9e31d04f588
}
