
<!--Client Sign up-->
<div class="client-account container container-sm container-md container-lg container-xl">
  <div class="row">

    <div class="col-auto client2" data-aos="fade-right">
      <div class="client-logo">
<!--        <img src="../../assets/images/logo/logo_J.png"><br>-->
        <h3>Create an <span class="pink">Account</span></h3>
        <button (click)="signInWithFB()" *ngIf="loggedIn===false"><img class="facebook" src="../../../assets/images/signup/facebook.svg"></button>
        <button (click)="openDialog()"><img class="google" src="../../../assets/images/signup/google1.svg"></button>
        <button (click)="openDialog()"><img class="linkedin" src="../../../assets/images/signup/linkedin.svg"></button>
        <p>or use your email for registration:</p>
      </div>
      <form [formGroup]="frmSignup" (submit)="onSubmit()" class="client-item">
        <div class="form-group">
        <label class="client-name" [ngClass]="frmSignup.controls['userName']">
          <mat-form-field style="width:200%;">
            <mat-label>Username</mat-label>
            <input matInput  formControlName="userName" [errorStateMatcher]="matcher" required placeholder="Ex. JohnS">
            <mat-error *ngIf="frmSignup.controls['userName'].hasError('required')">
              Your name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          </label>

        </div>
        <div class="form-group">
          <label class="client-email" [ngClass]="frmSignup.controls['email']">
            <mat-form-field style="width:200%;">
              <mat-label>Email</mat-label>
              <input matInput  formControlName="email" id="email" type="email" required [errorStateMatcher]="matcher" placeholder="Ex. john.smith@gmail.com">
              <mat-error *ngIf="frmSignup.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <label class="text-danger criteriaEmail"  *ngIf="frmSignup.controls['email'].hasError('email')">
              Enter a valid email address.
            </label>
          </label>
        </div>

        <div class="form-group">
          <label class="client-pass" [ngClass]="frmSignup.controls['password']">
          <mat-form-field style="width:180%;">
            <mat-label>Create a password</mat-label>
            <input matInput  id="password"  [type]="hide ? 'password' : 'text'" required formControlName="password" [errorStateMatcher]="matcher" placeholder="Ex. JohnSmith123!">
            <span class="hide-icon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
          </mat-form-field>
          </label>
          <label class="row criteriaPassword" [ngClass]="frmSignup.controls['password'].hasError('required') ||
          frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                      frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                        'check_circle' }}</i>
                      At least 8 characters.
                    </label>
                    <label class="row criteriaPassword" [ngClass]="frmSignup.controls['password'].hasError('required') ||
                     frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                      frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                        'check_circle' }}</i>
                      Contains at least 1 Number.
                    </label>
                    <label class="row criteriaPassword" [ngClass]="frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                      frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                        'check_circle' }}</i>
                      Contains at least 1 Capital Letter.
                    </label>
                    <label class="row criteriaPassword" [ngClass]="frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                      frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                        'check_circle' }}</i>
                      Contains at least 1 Simple Letter.
                    </label>
                    <label class="row criteriaPassword" [ngClass]="frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                      <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                      frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                        'check_circle' }}</i>
                      Contains at least 1 Special Character
                    </label>
                  </div>
        <div class="form-group confirmPassword">
          <label class="client-pass" for="confirmPassword" [ngClass]="frmSignup.controls['confirmPassword']">
            <mat-form-field style="width:180%;">
              <mat-label>Confirm password</mat-label>
              <input matInput  id="confirmPassword" formControlName="confirmPassword"  [type]="hide ? 'password' : 'text'" required [errorStateMatcher]="matcher" placeholder="Ex. JohnSmith123!">
              <span class="hide-icon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
            </mat-form-field>
          </label>
          <label class="text-danger criteriaConfirm" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
            Password is Required.
          </label>
          <label class="text-danger criteriaConfirm" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
            Passwords do not match.
          </label>
        </div>

        <div class="col buttons-client">
          <div class="btn-out-sign-up form-group">
            <button type="submit" class="btn button-client">Sign up</button>
          </div>
          <p class="terms">By continuing you agree to .Jansss <a>Terms or Service, Privacy Policy</a></p>
        </div>
      </form>

    </div>
    <div class="col client1" data-aos="fade-left">
      <img style="width: 350px" src="../../../assets/images/signup/signin.svg"><br>
      <h3>Already a member?</h3>
      <p>To keep connected with us login with your personal information</p>
      <button routerLink="/client-log-in" type="submit" class="btn button-switch">Log in</button>
    </div>
  </div>
</div>
