.container {
  padding-top: 20%;
}

.card {
  width: 70%;
  margin: auto auto;
}

h2 {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 600;
}

button {
  font-size: 20px;
  text-transform: uppercase;
  background: #E06F63;
  color: #ffffff;
  font-weight: 600;
}

button:hover {
  color: #ffffff;
}
