<footer>
  <div class="footer-container clear-top">
    <div class="left-col">
      <img class="logo" src="../../assets/images/logo/logo_Jansss_black_orange.png" alt="logo">

      <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><img src="../../assets/images/social_media_icons/facebook.svg"></a>
        <a href="#"><img src="../../assets/images/social_media_icons/instagram.svg"></a>
        <a href="#"><img src="../../assets/images/social_media_icons/twitter.svg"></a>
        <a href="#"><img src="../../assets/images/social_media_icons/whatsapp.svg"></a>
      </div>

      <p class="right-text">&copy; 2020 Created By Dudawok All Rights Reserved</p>
    </div>

    <div class="right-col">
      <h1>Be a Member</h1>
      <div class="border"></div>
      <p>Enter Your Email to become a member</p>
      
      <form class="newsletter-form">
        <input type="text" class="txtb" placeholder="Enter Your Email">
        <input type="submit" class="btn" value="submit">
      </form>
    </div>
  </div>
</footer>

