footer {
  padding: 50px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 70px;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 100px;
}

.social-media {
  margin: 20px 0;
}

.social-media img {
  width: 30px;
}

.social-media a {
  color: #E06F63;
  margin-right: 35px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media img:hover {
  transform: scale(1.1);
}

.right-col h1 {
  font-size: 26px;
  letter-spacing: 2px;
}

.border {
  width: 100px;
  height: 4px;
  background: #E06F63;
  border: none;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 12px 40px;
  font-size: 16px;
  color: #353b48;
  background: #f1f2f6;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn {
  padding: 12px 40px;
  font-size: 16px;
  color: #ffffff;
  background: #E06F63;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover {
  opacity: .7;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }

  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}
