//Get started with your campaign

.enterDetailsDiv{
  padding-top: 5%;
  width:100%;
}

.heading_enter{
  font-family: "Airbnb Cereal App Medium", sans-serif;
  margin-top: 5%;
  font-size: 70px;
  display: block;
  //visibility: visible;
}

.heading-2{
text-align: center;
  display: none;
  font-family: "Airbnb Cereal App Medium", sans-serif;
  font-size: 40px;
}

.heading-2 .campaign{
  color: #E06F63;

}
.heading_enter .campaign{
  color: #E06F63;
}

//.item{
//  margin-top: 8%;
//  //margin-left: 5%;
//}

.enter_form{
  width: 80%;
  margin: auto auto;
  //float: left;
  justify-content: space-between;
  padding-top: 5%;
  //margin-top: 3%;
  font-family: "Airbnb Cereal App Medium", sans-serif;

}
//.item1{
//  margin-left: 0;
//  width: 40%;
//  margin: auto auto;
//  display: block;
//
//}
//
//.item2, .item3, .item4, .item5, .item6, .item7, .item8{
//  margin-top: 1%;
//
//}
//
//.item2, .item4, .item6{
//     margin-left: 0%;
//  display: block;
//
//}
//
//.item3, .item5, .item7{
//  margin-left: 30%;
//  display: block;
//
//}
//
//.item .descrip{
//  width: 300%;
//}


.item input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0
}

.item{
  display: block;
  //float:right;
}
.button_outer{
  text-align: center;
  margin-top: 5%;
  margin-left: 0;
  //margin-bottom: 2%;
}

.button{
  font-family: "Airbnb Cereal App Book", sans-serif;
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  text-transform: uppercase;
  background-color: #E06F63;
}

@media screen and (max-width: 800px) {

  .enter_form{
    width: 80%;
    margin: auto auto;
    align-content: center;
  }

  .heading-2{
    display: block;
  }

  .heading_enter {
    display: none;
  }
}
