
<div class="container">
<!-- Progress bar component loaded here-->
  <app-progress-bar></app-progress-bar>
</div>

<!-- Enter details form-->
<div class="container container-sm container-md container-lg container-xl">

  <div class="card-deck">

    <div class="col col-auto heading_enter" data-aos="zoom-out-up">
      <p>Get<br>started<br>with your<br></p>
      <p class="campaign">campaign</p>
    </div>
    <!-- Enter details form - responsive forms-->
    <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()" class="col enter_form" data-aos="zoom-out-up">

      <div class="heading-2">Get started with your <p class="campaign">campaign</p></div>
        <div class="item1 form-group" [ngClass]="{ 'has-error': invalidProductName() }">
          <!-- form item - product name -->
          <label class="item">
            Product Name<br>
            <input type="text" class="form-control" formControlName="productName">
            <p *ngIf="invalidProductName()" id="name_error" class="help-block">Invalid product name</p>
          </label>
        </div>
        <div class="item2 form-group" [ngClass]="{ 'has-error': invalidIndustry() }">
          <!-- form item - industry -->
          <label class="item">
            Target Industry<br>
            <input type="text" class="form-control" formControlName="industry">
            <p *ngIf="invalidIndustry()" id="industry_error" class="help-block">Invalid industry</p>
          </label>
        </div>

        <div class="item3 form-group" [ngClass]="{ 'has-error': invalidAudience() }">
          <!-- form item - target audience -->
          <label class="item">
            Target Audience<br>
            <input type="text" class="form-control" formControlName="audience">
            <p *ngIf="invalidAudience()" id="audience_error" class="help-block">Invalid target audience</p>
          </label>
        </div>

        <div class="item4 form-group" [ngClass]="{ 'has-error': invalidBudget() }">
          <!-- form item - budget -->
          <label class="item">
            Budget<br>
            <input type="text" class="form-control" formControlName="budget">
            <p *ngIf="invalidBudget()" id="budget_error" class="help-block">The minimum budget is</p>
          </label>
        </div>

        <div class="item5 form-group" [ngClass]="{ 'has-error': invalidLocation() }">
          <!-- form item - target location -->
          <label class="item">
            Target Location<br>
            <input type="text" class="form-control" formControlName="location">
            <p *ngIf="invalidLocation()" id="location_error" class="help-block">The location does not exist</p>
          </label>
        </div>

        <div class="item6 form-group" [ngClass]="{ 'has-error': invalidPrice() }">
          <!-- form item - price -->
          <label class="item">
            Price of Product/Service<br>
            <input type="text" class="form-control" formControlName="price">
            <p *ngIf="invalidPrice()" id="price_error" class="help-block">Invalid price</p>
          </label>
        </div>

        <div class="item7 form-group" [ngClass]="{ 'has-error': invalidDuration() }">
          <!-- form item - duration of campaign -->
          <label class="item">
            Duration of Campaign<br>
            <input type="text" class="form-control" formControlName="duration">
            <p *ngIf="invalidDuration()" id="duration_error" class="help-block">The minimum duration of a campaign is</p>
          </label>
        </div>


        <div class="button_outer form-group">
          <!-- on click, navigates to select campaign page -->
          <button type="submit" class="btn button">Generate Campaign</button>
        </div>

      </form>
  </div>
</div>
