<div class="container">

  <div class="card border-0 shadow-lg col-left">

    <div class="card-header text-center">
      <!-- Profile Image -->
      <div class="mt-1">
        <img class="img-fluid profile-img" src="../../../assets/images/profile/user.svg" alt="profile image">
      </div>
      <!-- Username -->
      <div class="mt-3">
        <h3 class="username" *ngIf="this.authService.isLoggedIn()">{{this.currentUser.userName}}</h3>
      </div>
    </div>

    <!-- Icons -->
    <div class="card-body pr-5 pl-5 text-center ">
      <!-- Icons -->
      <div class="row text-center mt-4 icons">
        <!-- Settings Icon -->
        <div class="col">
          <mat-icon class="change-cursor" color="primary" (click)="navigateToEditProfile()">settings</mat-icon>
        </div>
        <!-- Messages Icon -->
        <div class="col">
          <mat-icon class="change-cursor" color="primary" (click)="openDialog()">email</mat-icon>
        </div>
        <!-- Notifications Icon -->
        <div class="col">
          <mat-icon class="change-cursor" color="primary" (click)="openDialog()">notifications</mat-icon>
        </div>
      </div>
    </div>

    <!-- User Details -->
    <div class="card-body text-center">
      <div class="col">
        <p *ngIf="this.authService.isLoggedIn()">Name: {{this.currentUser.firstName}} {{this.currentUser.surName}}</p>
        <p *ngIf="this.authService.isLoggedIn()">Email: {{this.currentUser.email}}</p>
        <p *ngIf="this.authService.isLoggedIn()">Payment Method: {{this.currentUser.paymentMethod}}</p>
        <p *ngIf="this.authService.isLoggedIn()">Payment Plan: {{this.currentUser.subscription}}</p>
      </div>
    </div>

    <div class="card-body">
      <div class="col">
        <h5 class="text-center">My Campaigns</h5>
        <div class="row mt-4">
          <div class="col campaign">Campaign 3</div>
          <div class="col"><a routerLink="/progress" class="">Progress</a></div>
          <div class="col"><a routerLink="/campaign-details" class="">Details</a></div>
        </div>

        <div class="row mt-4">
          <div class="col campaign">Campaign 2</div>
          <div class="col"><a routerLink="/progress" class="">Progress</a></div>
          <div class="col"><a routerLink="/campaign-details" class="">Details</a></div>
        </div>

        <div class="row mt-4">
          <div class="col campaign">Campaign 1</div>
          <div class="col"><a routerLink="/progress" class="">Progress</a></div>
          <div class="col"><a routerLink="/campaign-details" class="">Details</a></div>
        </div>
      </div>
    </div>

  </div>
</div>
