.container {
  padding-top: 5%;
}

.col-left {
  min-width: 300px;
}

.col-right {
  min-width: 600px;
}

.username{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.change-cursor {
  cursor: pointer;
}

.campaigns-list-topic {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 300;
}

span img {
  width: 30px;
}

.details-topic {
  font-weight: 700;
  color: #E06F63;
  letter-spacing: 1px;
}

// Button Styling
.btn {
  background: #E06F63;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 500;
  float: right;
}

// Media Queries
@media (max-width: 1199px) {
  .col-1 {
    display: none;
  }
  .col-left {
    margin: auto auto;
  }
}
