<!-- Progress bar-->
<div class="progressDiv">
  <div class="progress outer" data-aos="fade-right">
      <div data-aos="fade-right" class="progress-bar inner1" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <a routerLink="/details">Details</a>
      </div>
      <div data-aos="fade-right" class="progress-bar inner2" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <a routerLink="/campaign" id="disableItem1" class="disabled">Campaign</a>
      </div>
      <div data-aos="fade-right" class="progress-bar inner3" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <a routerLink="/payment" id="disableItem2" class="disabled">Payment</a>
      </div>
      <div data-aos="fade-right" class="progress-bar inner4" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <a routerLink="/launch"  id="disableItem3" class="disabled">Launch</a>
      </div>
    </div>
</div>
