.container {
  padding-bottom: 5%;
}

.heading-top {
  display: none;
}

.heading-top p {
  font-size: 45px;
  font-weight: 600;
  line-height: 40px;
}

.text {
  font-weight: 700;
  font-size: 82px;
  line-height: 90px;
}

.pink {
  color: #E06F63;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #b2bec3;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
  color: #b2bec3;
}

.box .inputBox input:focus ~ label, .box .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #7f8c8d;
  font-size: 12px;
}

.btn {
  text-transform: uppercase;
  background-color: #E06F63;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .text {
    font-size: 65px;
    line-height: 70px;
  }
}

@media (max-width: 991px) {
  .heading-top {
    display: block;
  }

  .col-left {
    display: none;
  }

  .details {
    margin-left: 10%;
  }

  .button {
    float: left;
  }
}


//@media (max-width: 767px) {
//  .col-left {
//    display: none;
//  }
//}
