<div class="container container-sm container-md container-lg container-xl">
  <app-progress-bar></app-progress-bar>
</div>

<div class="container" data-aos="zoom-in">

  <div class="row text-center mb-5 heading-top">
    <p>Select your</p>
    <p class="pink">payment method</p>
  </div>

  <div class="row">

    <div class="col col-left">
      <p class="text">Select</p>
      <p class="text">your</p>
      <p class="text pink">payment</p>
      <p class="text pink">method</p>
    </div>

    <div class="col text-center details">
      <div class="row">
        <div class="col bg-light border-light shadow-sm p-3 mb-5 mr-5 rounded">
          <img class="card-img-top img-fluid" src="../../assets/images/payment/visa.svg" alt="visa card">
        </div>
        <div class="col bg-light border-light shadow-sm p-3 mb-5 mr-5 rounded">
          <img class="card-img-top img-fluid" src="../../assets/images/payment/mastercardCopy.svg" alt="master card">
        </div>
        <div class="col bg-light border-light shadow-sm p-3 mb-5 mr-5 rounded">
          <img class="card-img-top img-fluid" src="../../assets/images/payment/paypalCopy.svg" alt="paypal">
        </div>
      </div>

      <div class="row box">
        <form
          [formGroup] = "form"
          (ngSubmit) = "onSubmit(form.value)">
          <div class="row">
            <div class="col inputBox">
              <input formControlName="cardNo" id="cardNo" name="cardNo" required="" type="text">
              <label class="ml-3" for="cardNo">Card Number*</label>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col inputBox">
              <input formControlName="exDate" id="exDate" name="exDate" required="" type="text">
              <label class="ml-3" for="exDate">Expiry Date*</label>
            </div>

            <div class="col inputBox">
              <input formControlName="cvv" id="cvv" name="cvv" required="" type="text">
              <label class="ml-3" for="cvv">CVV*</label>
            </div>
          </div>

          <div class="row mt-3 float-right button">
            <button (click)="navigateToLaunch()" class="btn shadow-sm rounded hvr-wobble-horizontal">Next</button>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>



