<div id="logo" class="logo-white">
    <img src="../../assets/images/logo/logo_white.png" class="logo-white" alt="Jansss logo">
</div>

<section id="intro" style="visibility: hidden" class="animated fadeInUp ">
        <p class="heading-big">Automated</p>
        <p class="heading-small">Marketing Consultant</p>
        <p class="description">
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no one who
            loves pain itself, who seeks after it and wants to have it, simply because it
        </p>
</section>

<div>
    <img src="../../assets/images/icons/chevron-arrow-down.png" class="arrow-down" id="arrow">
</div>
