<div class="body text-center mb-5">
  <img class="img-fluid mt-5 animated fadeIn delay-1s slower" id="middle" src="../../assets/images/logo/logo_J_white.png">

  <div class="" id="right">
    <h1>Automated</h1>
    <h3>Marketing Consultant</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
      sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
      pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
      sociis natoque penatibus et magnis.
    </p>
  </div>

  <div class="container text-center">
    <img class="hvr-wobble-vertical nav-arrow" src="../../assets/images/icons/chevron-arrow-down.svg" (click)="scrollWin()">
  </div>


</div>


