

<nav class="navbar navbar-expand-lg navbar-light container">
  <a class="inline navbar-brand" href="#"><img src="../../assets/image/logo/logo_black_orange.png" height="80" width="80"/></a>

  <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link item" href="#" routerLink="/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link item" href="#" routerLink="/contact-us">Contact Us</a>
          </li>
    </ul>

    <div class="inline my-2 my-lg-0">
        <a><img src="../../assets/image/Home_Page_icons/username.png" height="50" width="50"/> USERNAME</a>
    </div>
</nav>

<script></script>
