


<nav class="navbar navbar-expand-lg navbar-light container-fluid" id="navbar">
    <a class="navbar-brand logo" href="#"><img src="../../assets/logo/logo_black_orange.png" height="80" width="80"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navigation">
      <li class="nav-item">
        <a class="nav-link active" href="#" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link item" href="#" routerLink="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link item" href="#" routerLink="/contact-us">Contact Us</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" id="username">
      <a><img src="../../assets/navbar_icons/username.png"> Username</a>
    </form>
  </div>
</nav>
