<header class="header" id="navbar">

<!-- Logo when the hamburger menu is closed -->
  <a class="navbar-brand logo-1" href="#" id="logo-1" routerLink="/"><img src="../../assets/images/logo/logo_Jansss_black_orange.png" height="80" width="80"/></a>

  <!-- Hamburger Menu -->
  <div class="burger">
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
  </div>

  <nav class="menu">
    <!-- Logo when the hamburger menu is open -->
    <div class="menu__brand">
      <a class="navbar-brand" href="#" routerLink="/"><div class="logo"></div></a>
    </div>

    <!--Items for the navigation bar-->
    <ul class="menu__list" id="myDIV">
      <li class="menu__item"><a href="#" class="menu__link" routerLink="/">Home</a></li>
      <li class="menu__item"><a href="#" class="menu__link" routerLink="/vendor-sign-up">Vendor</a></li>
      <li class="menu__item"><a href="#" class="menu__link" routerLink="/pricing">Pricing</a></li>
      <li class="menu__item"><a href="#" class="menu__link" routerLink="/contact-us">Contact Us</a></li>
      <li class="menu__item user">
        <a href="#" class="menu__link" id="username" routerLink="/client-sign-up">
          <img src="../../assets/images/profile/username.png">
        </a>
      </li>
      <img class="bottom-right" style="width: 35px;  position: absolute;bottom: 8px;right: 16px;" src="../../assets/images/profile/logout_grey.png">
    </ul>
  </nav>
</header>
